@model AISV2.Models.FileContactPerson

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FileContactPerson</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FileID" class="control-label"></label>
                <select asp-for="FileID" class ="form-control" asp-items="ViewBag.FileID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ContactPersonID" class="control-label"></label>
                <select asp-for="ContactPersonID" class ="form-control" asp-items="ViewBag.ContactPersonID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

